# Dependencies and Setup

In [2]:
import pandas as pd

In [3]:
# File to Load

In [5]:
school_data_to_load = ("/Users/davidspir/anaconda3/schools_complete.2.csv")
student_data_to_load = ("/Users/davidspir/anaconda3/students_complete.csv")

In [6]:
# Read School and Student Data File and store into Pandas Data Frames

In [7]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [8]:
# Combine the data into a single dataset

In [9]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [ ]:
# DISTRICT SUMMARY

In [10]:
# Total number of schools

In [22]:
total_schools = len(school_data_complete.school_name.unique())
total_schools

15

In [12]:
# Total number of students

In [23]:
total_students = school_data_complete.student_name.count()
total_students

39170

In [14]:
# Total budget

In [24]:
total_budget = sum(school_data_complete.budget.unique())
total_budget

24649428

In [16]:
# Average math score

In [25]:
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [18]:
# Average reading score

In [26]:
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [20]:
# Percentage of students with passing math score

In [41]:
passing_math_percentage = (school_data_complete[school_data_complete['math_score'] >= 70].math_score.count()) / total_students
passing_math_percentage

0.749808526933878

In [27]:
# Percentage of students with passing reading score

In [42]:
passing_reading_percentage = (school_data_complete[school_data_complete['reading_score'] >= 70].reading_score.count()) / total_students
passing_reading_percentage

0.8580546336482001

In [31]:
# Overall passing rate

In [43]:
overall_passing_rate = (passing_math_percentage + passing_reading_percentage)/2
overall_passing_rate

0.8039315802910391

In [36]:
# Store all calculations into dataframe

In [44]:
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score],
                                 "% Passing Math":[passing_math_percentage*100],
                                 "% Passing Reading":[passing_reading_percentage*100],
                                 "% Overall Passing Rate":[overall_passing_rate*100]})

In [38]:
# Reformat Total Students and Total Budget

In [45]:
district_summary['Total Students'] = district_summary.apply(lambda x: "{:,.0f}".format(x['Total Students']), axis=1)
district_summary['Total Budget'] = district_summary.apply(lambda x: "${:,.2f}".format(x['Total Budget']), axis=1)

In [46]:
# Print Summary Dataframe
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [47]:
# SCHOOL SUMMARY

In [49]:
school_summary = school_data_complete.groupby(['school_name'])
school_summary

In [53]:
school_names = school_data_complete.school_name.sort_values().unique()
school_names

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype=object)

In [54]:
school_types = school_data.sort_values(by="school_name").type
school_types

7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object

In [55]:
school_total_students = list(school_summary.student_name.count())
school_total_students

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [56]:
school_budget = list(school_summary.budget.mean())
school_budget

[3124928.0,
 1081356.0,
 1884411.0,
 1763916.0,
 917500.0,
 3022020.0,
 248087.0,
 1910635.0,
 3094650.0,
 585858.0,
 2547363.0,
 1056600.0,
 1043130.0,
 1319574.0,
 1049400.0]

In [57]:
school_per_student_budget = [i/j for i,j in zip(school_budget,school_total_students)]
school_per_student_budget

[628.0,
 582.0,
 639.0,
 644.0,
 625.0,
 652.0,
 581.0,
 655.0,
 650.0,
 609.0,
 637.0,
 600.0,
 638.0,
 578.0,
 583.0]

In [58]:
school_avg_math_score = list(school_summary.math_score.mean())
school_avg_math_score

[77.04843247588424,
 83.06189451022605,
 76.71176670057646,
 77.10259218692954,
 83.35149863760218,
 77.28975188781014,
 83.80327868852459,
 76.62941378128214,
 77.07246376811594,
 83.83991683991684,
 76.84271067766942,
 83.3594548551959,
 83.4183486238532,
 83.2742006132282,
 83.68222222222222]

In [59]:
school_avg_reading_score = list(school_summary.reading_score.mean())
school_avg_reading_score

[81.03396302250803,
 83.97578040904197,
 81.15801966768396,
 80.74625775830594,
 83.816757493188,
 80.9344120819849,
 83.81498829039812,
 81.18272197463148,
 80.96639361478681,
 84.04469854469855,
 80.74468617154288,
 83.72572402044293,
 83.84892966360856,
 83.98948751642575,
 83.955]

In [ ]:
# Calculating passing percentages

In [64]:
school_summary = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])

In [66]:
school_percentage_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]
school_percentage_passing_math

[66.68006430868168,
 94.1334768568353,
 65.98847066802306,
 68.3096020445418,
 93.39237057220708,
 66.7529665587918,
 92.50585480093677,
 65.68392183750429,
 66.0575509346776,
 94.5945945945946,
 66.36659164791197,
 93.8671209540034,
 93.27217125382263,
 93.8677179150241,
 93.33333333333333]

In [187]:
school_summary = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])

In [69]:
school_percentage_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]
school_percentage_passing_reading

[81.93327974276528,
 97.03982777179763,
 80.73923363852154,
 79.29901423877328,
 97.13896457765668,
 80.86299892125135,
 96.25292740046838,
 81.31642098045938,
 81.2224322621298,
 95.94594594594594,
 80.22005501375344,
 95.85462805224304,
 97.30886850152906,
 96.53964082347788,
 96.61111111111111]

In [75]:
school_overall_passing = [(i+j)/2 for i,j in zip(school_percentage_passing_math,school_percentage_passing_reading)]
school_overall_passing

[74.30667202572349,
 95.58665231431647,
 73.36385215327229,
 73.80430814165754,
 95.26566757493188,
 73.80798274002157,
 94.37939110070258,
 73.50017140898183,
 73.6399915984037,
 95.27027027027026,
 73.2933233308327,
 94.86087450312323,
 95.29051987767585,
 95.20367936925099,
 94.97222222222223]

In [73]:
# all calculations into dataframe

In [188]:
school_summary_df = pd.DataFrame({"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":school_total_students,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "% Passing Math":school_percentage_passing_math,
                                  "% Passing Reading":school_percentage_passing_reading,
                                  "Overall Passing Rate":school_overall_passing})

school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [78]:
# Top performing schools

In [79]:
top_5 = school_summary_df.sort_values(by='Overall Passing Rate', ascending=False).head(5).reset_index(drop=True)
top_5

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
1,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
2,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
3,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
4,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [80]:
# Bottom performing schools

In [81]:
bot_5 = school_summary_df.sort_values(by='Overall Passing Rate', ascending=True).head(5).reset_index(drop=True)
bot_5

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
1,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
2,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
3,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
4,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [82]:
# Math scores by grades

In [101]:
# Function to create series for average math score by grade
def average_math_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_math_score = list(school_summary.math_score.mean())

    # Compile all calculations into dataframe
    average_math_df = pd.DataFrame({"School Names":school_names,
                                    f"{grade} Avg Math Score":school_avg_math_score})

    average_math_df = average_math_df.reset_index(drop=True)
    return average_math_df

In [ ]:
# Function to create series for average reading score by grade

In [102]:
def average_reading_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_reading_score = list(school_summary.reading_score.mean())

    # Compile all calculations into dataframe
    average_reading_df = pd.DataFrame({"School Names":school_names,
                                    f"{grade} Avg Reading Score":school_avg_reading_score})

    average_reading_df = average_reading_df.reset_index(drop=True)
    return average_reading_df

In [ ]:
# Create series for each grade and group by school

In [106]:
grade_9 = average_math_by_grade('9th')
grade_10 = average_math_by_grade('10th')
grade_11 = average_math_by_grade('11th')
grade_12 = average_math_by_grade('12th')
avg_math_score_by_grade = pd.merge(grade_9,grade_10,how='inner',suffixes=('',''))
avg_math_score_by_grade = pd.merge(avg_math_score_by_grade,grade_11,how='inner',suffixes=('',''))
avg_math_score_by_grade = pd.merge(avg_math_score_by_grade,grade_12,how='inner',suffixes=('',''))
avg_math_score_by_grade

,School Names,9th Avg Math Score,10th Avg Math Score,11th Avg Math Score,12th Avg Math Score
0,Bailey High School,77.083676,76.996772,77.515588,76.492218
1,Cabrera High School,83.094697,83.154506,82.765560,83.277487
2,Figueroa High School,76.403037,76.539974,76.884344,77.151369
3,Ford High School,77.361345,77.672316,76.918058,76.179963
4,Griffin High School,82.044010,84.229064,83.842105,83.356164
5,Hernandez High School,77.438495,77.337408,77.136029,77.186567
6,Holden High School,83.787402,83.429825,85.000000,82.855422
7,Huang High School,77.027251,75.908735,76.446602,77.225641
8,Johnson High School,77.187857,76.691117,77.491653,76.863248
9,Pena High School,83.625455,83.372000,84.328125,84.121547
10,Rodriguez High School,76.859966,76.612500,76.395626,77.690748
11,Shelton High School,83.420755,82.917411,83.383495,83.778976
12,Thomas High School,83.590022,83.087886,83.498795,83.497041
13,Wilson High School,83.085578,83.724422,83.195326,83.035794
14,Wright High School,83.264706,84.010288,83.836782,83.644986

In [86]:
# Create series for each grade and group by school

In [105]:
grade_9 = average_reading_by_grade('9th')
grade_10 = average_reading_by_grade('10th')
grade_11 = average_reading_by_grade('11th')
grade_12 = average_reading_by_grade('12th')
avg_reading_score_by_grade = pd.merge(grade_9,grade_10,how='inner',suffixes=('',''))
avg_reading_score_by_grade = pd.merge(avg_reading_score_by_grade,grade_11,how='inner',suffixes=('',''))
avg_reading_score_by_grade = pd.merge(avg_reading_score_by_grade,grade_12,how='inner',suffixes=('',''))
avg_reading_score_by_grade

,School Names,9th Avg Reading Score,10th Avg Reading Score,11th Avg Reading Score,12th Avg Reading Score
0,Bailey High School,81.303155,80.907183,80.945643,80.912451
1,Cabrera High School,83.676136,84.253219,83.788382,84.287958
2,Figueroa High School,81.198598,81.408912,80.640339,81.384863
3,Ford High School,80.632653,81.262712,80.403642,80.662338
4,Griffin High School,83.369193,83.706897,84.288089,84.013699
5,Hernandez High School,80.866860,80.660147,81.396140,80.857143
6,Holden High School,83.677165,83.324561,83.815534,84.698795
7,Huang High School,81.290284,81.512386,81.417476,80.305983
8,Johnson High School,81.260714,80.773431,80.616027,81.227564
9,Pena High School,83.807273,83.612000,84.335938,84.591160
10,Rodriguez High School,80.993127,80.629808,80.864811,80.376426
11,Shelton High School,84.122642,83.441964,84.373786,82.781671
12,Thomas High School,83.728850,84.254157,83.585542,83.831361
13,Wilson High School,83.939778,84.021452,83.764608,84.317673
14,Wright High School,83.833333,83.812757,84.156322,84.073171

In [107]:
#school spending

In [156]:
# Creating the spending bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], spending_bins, labels=labels)

In [ ]:
# Group by spending and calculate averages

In [158]:
spending_math_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()

In [147]:
#spending summary dataframe

In [184]:
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Spending Ranges (Per Student),,,,
<$585,83.455399,83.933814,93.460096,96.610877
$585-630,81.899826,83.155286,87.133538,92.718205
$630-645,78.518855,81.624473,73.484209,84.391793
$645-680,76.997210,81.027843,66.164813,81.133951

In [ ]:
# bins by school size

In [159]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [161]:
# Create a new column in the summary_df to categorize school size

In [163]:
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=labels)

In [ ]:
# Group by size and calculate averages

In [165]:
size_math_scores = school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()

In [166]:
# Creating the size_summary DataFrame

In [185]:
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
School Size,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680
Large (2000-5000),77.746417,81.344493,69.963361,82.766634

In [169]:
# Group by type of school and calculate averages

In [171]:
type_math_scores = school_summary_df.groupby(["School Type"])["Average Math Score"].mean()
type_reading_scores = school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_math = school_summary_df.groupby(["School Type"])["% Passing Math"].mean()
type_passing_reading = school_summary_df.groupby(["School Type"])["% Passing Reading"].mean()

In [172]:
# Creating the type_summary DataFrame

In [186]:
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
School Type,,,,
Charter,83.473852,83.896421,93.620830,96.586489
District,76.956733,80.966636,66.548453,80.799062

In [191]:
%pip install jupytext
!jupytext --to notebook <py_city_schools_challenge>.py

Requirement already satisfied: jupytext in ./lib/python3.11/site-packages (1.16.1)
Requirement already satisfied: markdown-it-py>=1.0 in ./lib/python3.11/site-packages (from jupytext) (2.2.0)
Requirement already satisfied: mdit-py-plugins in ./lib/python3.11/site-packages (from jupytext) (0.3.0)
Requirement already satisfied: nbformat in ./lib/python3.11/site-packages (from jupytext) (5.9.2)
Requirement already satisfied: packaging in ./lib/python3.11/site-packages (from jupytext) (23.1)
Requirement already satisfied: pyyaml in ./lib/python3.11/site-packages (from jupytext) (6.0)
Requirement already satisfied: toml in ./lib/python3.11/site-packages (from jupytext) (0.10.2)
Requirement already satisfied: mdurl~=0.1 in ./lib/python3.11/site-packages (from markdown-it-py>=1.0->jupytext) (0.1.0)
Requirement already satisfied: fastjsonschema in ./lib/python3.11/site-packages (from nbformat->jupytext) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in ./lib/python3.11/site-packages (from nbformat->jupytext) (4.17.3)
Requirement already satisfied: jupyter-core in ./lib/python3.11/site-packages (from nbformat->jupytext) (5.3.0)
Requirement already satisfied: traitlets>=5.1 in ./lib/python3.11/site-packages (from nbformat->jupytext) (5.7.1)
Requirement already satisfied: attrs>=17.4.0 in ./lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->jupytext) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in ./lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->jupytext) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in ./lib/python3.11/site-packages (from jupyter-core->nbformat->jupytext) (3.10.0)
Note: you may need to restart the kernel to use updated packages.
zsh:1: no such file or directory: py_city_schools_challenge